$bg: #E6E6E6;
$shadow: #0007;
$light-shadow: #0004;
$switch: #DDD7;
$light: #FFF7;

$link: #4646AF;

$smaller: 2rem;
$small: 3rem;
$medium: 5rem;
$big: 8rem;
$ring: 6rem;

$concave-gradient: linear-gradient(135deg, #3335, #FFF7);
$convex-gradient: linear-gradient(135deg, #FFF7, #3333);
